body {
    background-color: black;
    color: white;
    margin: 20px;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.container {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
}

form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 800px;
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
    outline: none;
    box-sizing: border-box;
}

button {
    padding: 10px;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: #555;
    color: white;
    cursor: pointer;

}

#results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie {
    background-color: #444;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    width: 200px;
    text-align: center;
}

.movie img {
    width: 100%;
    border-radius: 5px;
}

.movie h3, .movie p {
    margin: 5px 0;
}
